[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
character_set_server = utf8mb4
max_connections = 1000
log-bin=bin.log
server-id=1
log-bin-index=bin-log.index
binlog_format = ROW
!includedir /etc/mysql/conf.d/
